---
import OnButton from "../components/state-machine/OnButton.astro"
import State from "../components/state-machine/State.astro"
import type { StateClassName } from "../utils/state-machine/StateClassName"
import * as styles from "./index.css"

const states  = {
  foo: "foo"as StateClassName,
  bar: "bar"as StateClassName
} satisfies Record<string, StateClassName>
---

<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Advent 2024</title>
</head>
<body class={styles.body}>
  <State states={[states.foo, states.bar]} />
  <OnButton state={states.foo} class={styles.label}>Foo</OnButton>
  <OnButton state={states.foo} class={styles.label}>Bar</OnButton>
  Hello
</body>
</html>